@include mediaXl{
//   #{
//      display: flex;
//      align-items: center;
//      margin: auto;
//      width: 1500px;

//   }
}

@include mediaLg{
    
}
@include mediaMd{
    main{
        align-items: center;
        text-align: center;
        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;
        &.show{
            transform: translate3d(0,0,0);
        }

    }
    .menu-nav{
        height: 75vh;
        transform: translate3d((-100,0,0));
        font-size: 24px;
    }

    .menu-branding{
        height: 25vh;
        transform: translate3d((100%,0,0));
        .portrait{
            background:url("../img/takla.jpg");
            width: 170px;
            height: 170px;
            background-size: cover;
            border-radius: 50%;
            border: solid 1.5px $secondary-color;
        }
    }
  .about-info{
      grid-template-areas: 
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3' ;
      grid-template-columns: 1fr;
  } 
   
}


@include mediaSm{
    main#home h1{
        margin-top: 10vh;
    }
}